.main-content
  .header
    .main-header__left-box
      .main-header__left-box__current-group
        = @group.name
      .main-header__left-box__member-list
        Menber :
        .main-header__left-box__member-list__member
          - @group.group_users.each do |group_user|
            = group_user.user.name
    .main-header__edit-btn
      =link_to edit_group_path(@group.id), class: "contents__btn contents__btn--edit-group" do
        Edit
  .contents 
    .messages
      = render @messages

  .footer
    .input-box
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'input-box__text__message', placeholder: 'type a message'
        .input-box__image
          = f.label :image, class: 'label' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        .submit-btn
          = f.submit 'Send', class: 'form__submit'