/ ユーザー編集ページに遷移するためのパスを追加
.side-main
  .side-bar
    .side_header
      .side_header_box
        %p.side-header__box__user-name
          = current_user.name
        %ul.side-header__menu__box
          =link_to new_group_path, class: "contents__btn contents__btn--new-group" do
            = icon('fas', 'edit',  class: "contents__btn--icon")
          =link_to edit_user_path(current_user), class: "contents__btn contents__btn--new-group" do
            = icon('fas', 'cog',  class: "contents__btn--icon")
          
  .side-contents  
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            = group.show_last_message